<!doctype html>
<html>
  <head>
    <title>Admin Profile </title>
    
    <style>
        body{
          margin: 0;
          padding: 0;
          font-family: sans-serif;
          background: #34495e;
        }
        .menu{
          width: 100%;
          background: #000033;
          height: 80px;
          
        }
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;

        }
        ul li{
          float: left;
          margin-top: 20px;
        }
        ul li a{
          width: 150px;
          color: white;
          display: block;
          text-decoration: none;
          font-size: 20px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          font-family: Century Gothic;
          font-weight: bold;
        }
        a:hover{
          background: #669900 ;

        }
        ul li ul{
          background:#000033 ;
          display: none;
        }
        ul li ul li{
          float: none;
        }
        ul li:hover ul{
          display: block;
        }
        input[type = "text"]{
				border:0;
				background: none;
				display: block;
				margin: 20px auto;
				text-align: center;
				border: 2px solid #3498db;
				padding: 14px 10px;
				width: 200px;
				outline: none;
				color: white;
				border-radius: 24px;
				transition: 0.25s;
			}
			input[type = "text"]:focus{
				width: 280px;
				border-color: #2ecc71;
			}
			input[type = "submit"]{
				border:0;
				background: none;
				display: block;
				margin: 20px auto;
				text-align: center;
				border: 2px solid #2ecc71;
				padding: 14px 40px;
				outline: none;
				color: white;
				border-radius: 24px;
				transition: 0.25s;
				cursor: pointer;
			}
			input[type = "submit"]:hover{
				background: #2ecc71;
			}
    </style>
  </head>
  <body>
    <div class="menu">
      <ul> 
        <li> <a>Admin</a>
          <ul>
            <li><a href="/admin/profile"> Profile</a></li>
            <li><a href="/admin/edit"> Edit</a></li>   
          </ul>
        </li>
        <li><a>Course</a>  
          <ul>
            <li><a href="/course/add"> Add</a></li>
            <li><a href="/course/approvestudent"> Approve Student</a></li>
            <li><a href="/course/approvefaculty"> Approve faculty</a></li>
            <li><a href="/course/show">Show</a> </li>
          </ul>
        </li>
        <li> <a>Faculty</a> 
          <ul>
            <li><a href="/faculty/add"> Add</a></li>
            <li><a href="/faculty/show">Show</a> </li>
          </ul>
        </li>
        <li><a>Student </a>
            <ul>
              <li><a href="/student/add"> Add</a></li>
              <li><a href="/student/show">Show</a> </li>
            </ul>
          </li>
          <li><a href="/logout"> Logout </a></li>             
      </ul>
    </div>
    <br><br>
    <h1 align="center" style="color:white;">Show</h1>
    <form method="post">
      <input type="text" name="search"  placeholder="Search By Course -Name....">
      <input type="submit" name="submit" value="Search" placeholder="Type....">
      </form>
  	<table style="color:white;" cellpadding="10" border="1" align="center" >
        <tr style="background:#000033;">
            <td>Id</td>
            <td>Name</td>
            <td>Day</td>
            <td>Time</td>
            <td>Faculty</td>
            <td>Action</td>
        </tr>
        <% for(var i=0; i< user.length; i++){ %>
            <tr>
                <td><%= user[i].id %></td>
                <td><%= user[i].name %></td>
                <td><%= user[i].day %></td>
                <td><%= user[i].time %></td>
                <td><%= user[i].faculty %></td>
                <td>
                    <a href="/course/edit/<%= user[i].id %>"> EDIT </a> | 
                    <a href="/course/delete/<%= user[i].id %>"> DELETE </a> 
                </td>
            </tr>
        <% } %>
  </table>

  </body>
</html>